<div class="displayTable">
    <div class="displayTableCell">

        <div class=titulo2>
            <strong><h3>UYUMBICHO</h3></strong>
            <h3>GAD Parroquial</h3>

        </div>

        <div class="authBlock">
            <h3>Iniciar Sesión</h3>
            <div class="formGroup">
                <input type="text" class="formControl" placeholder="Correo electrónico" #userName required>
            </div>

            <div class="formGroup">
                <input type="password" class="formControl" placeholder="Contraseña" #userPassword required>
            </div>

            <!-- Api AuthService -->
            <div class="formGroup">
                <input type="button" class="btn btnPrimary" value="Ingresar" (click)="authService.SignIn(userName, userPassword)">
            </div>

            <div class="formGroup">
                <span class="or"><span class="orInner">Ó</span></span>
            </div>

            <!-- Api AuthService -->
            <div class="formGroup">
                <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth();">
            <i class="fab fa-google-plus-g"></i>
            Iniciar sesión con Google
          </button>
            </div>

            <div class="forgotPassword">
                <span routerLink="/forgot-password">Olvidaste tu contraseña?</span>
            </div>
        </div>

        <div class="redirectToLogin">
            <span>No estas registrado?<span class="redirect" routerLink="/register-user"> Registro</span></span>
        </div>

    </div>
</div>